@use "grid-mixins" as grid;
@use "./mixins";

.wrapper {
  position: relative;
  margin: 0 -7.5px;

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
  }
}

.target {
  @include mixins.link();
  padding: 8px;

  &:hover {
    text-decoration: none;
  }

  &::after {
    display: inline-block;
    padding: 3px;
    border: solid #969494;
    border-width: 0 2px 2px 0;
    margin-bottom: 3px;
    margin-left: 12px;
    content: "";
    transform: rotate(45deg);
  }
}

.name {
  display: none;

  &:hover {
    text-decoration: underline;
  }

  @include grid.media-breakpoint-up(sm) {
    display: inline;
  }
}

.list {
  position: absolute;
  z-index: 20;
  top: calc(100% + 24px);
  left: -71px;
  display: none;
  overflow: scroll;
  min-width: 150px;
  max-height: 80vh;
  padding: 5px 0;
  background-color: #fff;
  box-shadow: 0 3px 21px rgb(117 117 117 / 8%);
  list-style: none;

  &.active {
    display: block;
  }

  @include grid.media-breakpoint-up(sm) {
    left: 0;
  }

  @include grid.media-breakpoint-up(md) {
    overflow: visible;
    max-height: none;
  }
}

.link {
  display: block;
  padding: 10px 25px 10px 20px;
  color: #2f2f2f;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    background-color: #7f00ac;
    color: #fff;
  }
}
