@use "../../styles/grid";
@use "./mixins";

.list {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.item {
  margin: 0 7.5px;

  &:nth-child(n + 2) {
    display: none;
  }

  @include grid.media-breakpoint-up(md) {
    &:nth-child(n + 2) {
      display: block;
    }
  }
}

.link {
  @include mixins.link();
}
